In [1]:
# %pip install geopandas
# %pip install pyproj
# %pip install shapely

In [2]:
import pandas as pd
import sys
import os
import datetime
import geopandas as gpd
import pyproj
from shapely.geometry import Point

ModuleNotFoundError: No module named 'pyproj._network'

In [ ]:

# Read the CSV file into a pandas DataFrame
csv_file = "TAZ_origin.csv"
csv_file1 = "TAZ_destination.csv"
df = pd.read_csv(csv_file)
df1=pd.read_csv(csv_file1)
display(df.head())
display(df1.head())
df.columns.to_list()

,hptripid,tripID,hhmemberid,o_purp_t,depart_hhm,mode_t,hhsize,workers,hh_income,num_veh,...,arrive_hhm,d_CoTAZID_v30,CO_TAZID,ACRES,DEVACRES,DEVPBLEPCT,X,Y,CO_NAME,CITY_NAME
0,M10072CC.01.01,1,M10072CC.01,home,1030,auto,1,1,3,1,...,1045,490683,490809,132.759796,132.759796,1.00,446063.8907,4452264.323,UTAH,Provo
1,M10072CC.01.02,2,M10072CC.01,work,1645,auto,1,1,3,1,...,1700,490809,490683,333.702245,333.702245,1.00,443733.9229,4458458.876,UTAH,Provo
2,M10155BD.02.01,1,M10155BD.02,home,1020,auto,2,1,5,2,...,1220,490880,490880,172.692939,170.966010,0.99,449640.7819,4445410.535,UTAH,Springville
3,M11010EU.01.01,1,M11010EU.01,home,1145,auto,1,0,5,1,...,1830,490445,490438,108.729323,108.729323,1.00,434267.3247,4478105.922,UTAH,Alpine
4,M11010EU.01.04,4,M11010EU.01,drop-pickup,1835,auto,1,0,5,1,...,2015,490445,490445,339.478377,339.478377,1.00,433410.7035,4477969.818,UTAH,Alpine

,hptripid,tripID,hhmemberid,o_purp_t,depart_hhm,mode_t,hhsize,workers,hh_income,num_veh,...,arrive_hhm,d_CoTAZID_v30,CO_TAZID,ACRES,DEVACRES,DEVPBLEPCT,X,Y,CO_NAME,CITY_NAME
0,M10072CC.01.01,1,M10072CC.01,home,1030,auto,1,1,3,1,...,1045,490683,490683.0,333.702245,333.702245,1.00,443733.9229,4458458.876,UTAH,Provo
1,M10072CC.01.02,2,M10072CC.01,work,1645,auto,1,1,3,1,...,1700,490809,490809.0,132.759796,132.759796,1.00,446063.8907,4452264.323,UTAH,Provo
2,M10155BD.02.01,1,M10155BD.02,home,1020,auto,2,1,5,2,...,1220,490880,490880.0,172.692939,170.966010,0.99,449640.7819,4445410.535,UTAH,Springville
3,M11010EU.01.01,1,M11010EU.01,home,1145,auto,1,0,5,1,...,1830,490445,490445.0,339.478377,339.478377,1.00,433410.7035,4477969.818,UTAH,Alpine
4,M11010EU.01.04,4,M11010EU.01,drop-pickup,1835,auto,1,0,5,1,...,2015,490445,490445.0,339.478377,339.478377,1.00,433410.7035,4477969.818,UTAH,Alpine

['hptripid',
 'tripID',
 'hhmemberid',
 'o_purp_t',
 'depart_hhm',
 'mode_t',
 'hhsize',
 'workers',
 'hh_income',
 'num_veh',
 'age',
 'gender',
 'emp_text',
 'education',
 'licensed',
 'limitmobil',
 'h_CoTAZID_v30',
 'o_CoTAZID_v30',
 'o_fixed',
 'd_fixed',
 'd_purp_t',
 'arrive_hhm',
 'd_CoTAZID_v30',
 'CO_TAZID',
 'ACRES',
 'DEVACRES',
 'DEVPBLEPCT',
 'X',
 'Y',
 'CO_NAME',
 'CITY_NAME']

In [ ]:
df=df.rename(columns={'X':'o_X','Y':'o_Y'})
display(df.shape[0])
display(df.head())
df1=df1.rename(columns={'X':'d_X','Y':'d_Y'})
display(df1.shape[0])
df1.head()

375

,hptripid,tripID,hhmemberid,o_purp_t,depart_hhm,mode_t,hhsize,workers,hh_income,num_veh,...,arrive_hhm,d_CoTAZID_v30,CO_TAZID,ACRES,DEVACRES,DEVPBLEPCT,o_X,o_Y,CO_NAME,CITY_NAME
0,M10072CC.01.01,1,M10072CC.01,home,1030,auto,1,1,3,1,...,1045,490683,490809,132.759796,132.759796,1.00,446063.8907,4452264.323,UTAH,Provo
1,M10072CC.01.02,2,M10072CC.01,work,1645,auto,1,1,3,1,...,1700,490809,490683,333.702245,333.702245,1.00,443733.9229,4458458.876,UTAH,Provo
2,M10155BD.02.01,1,M10155BD.02,home,1020,auto,2,1,5,2,...,1220,490880,490880,172.692939,170.966010,0.99,449640.7819,4445410.535,UTAH,Springville
3,M11010EU.01.01,1,M11010EU.01,home,1145,auto,1,0,5,1,...,1830,490445,490438,108.729323,108.729323,1.00,434267.3247,4478105.922,UTAH,Alpine
4,M11010EU.01.04,4,M11010EU.01,drop-pickup,1835,auto,1,0,5,1,...,2015,490445,490445,339.478377,339.478377,1.00,433410.7035,4477969.818,UTAH,Alpine

375

,hptripid,tripID,hhmemberid,o_purp_t,depart_hhm,mode_t,hhsize,workers,hh_income,num_veh,...,arrive_hhm,d_CoTAZID_v30,CO_TAZID,ACRES,DEVACRES,DEVPBLEPCT,d_X,d_Y,CO_NAME,CITY_NAME
0,M10072CC.01.01,1,M10072CC.01,home,1030,auto,1,1,3,1,...,1045,490683,490683.0,333.702245,333.702245,1.00,443733.9229,4458458.876,UTAH,Provo
1,M10072CC.01.02,2,M10072CC.01,work,1645,auto,1,1,3,1,...,1700,490809,490809.0,132.759796,132.759796,1.00,446063.8907,4452264.323,UTAH,Provo
2,M10155BD.02.01,1,M10155BD.02,home,1020,auto,2,1,5,2,...,1220,490880,490880.0,172.692939,170.966010,0.99,449640.7819,4445410.535,UTAH,Springville
3,M11010EU.01.01,1,M11010EU.01,home,1145,auto,1,0,5,1,...,1830,490445,490445.0,339.478377,339.478377,1.00,433410.7035,4477969.818,UTAH,Alpine
4,M11010EU.01.04,4,M11010EU.01,drop-pickup,1835,auto,1,0,5,1,...,2015,490445,490445.0,339.478377,339.478377,1.00,433410.7035,4477969.818,UTAH,Alpine

In [ ]:
od_df = df.merge(df1[['hptripid', 'd_X', 'd_Y']], on='hptripid', how='left')
display(od_df.head())
# od_df.to_csv('origin_dest_pwd_data.csv')

,hptripid,tripID,hhmemberid,o_purp_t,depart_hhm,mode_t,hhsize,workers,hh_income,num_veh,...,CO_TAZID,ACRES,DEVACRES,DEVPBLEPCT,o_X,o_Y,CO_NAME,CITY_NAME,d_X,d_Y
0,M10072CC.01.01,1,M10072CC.01,home,1030,auto,1,1,3,1,...,490809,132.759796,132.759796,1.00,446063.8907,4452264.323,UTAH,Provo,443733.9229,4458458.876
1,M10072CC.01.02,2,M10072CC.01,work,1645,auto,1,1,3,1,...,490683,333.702245,333.702245,1.00,443733.9229,4458458.876,UTAH,Provo,446063.8907,4452264.323
2,M10155BD.02.01,1,M10155BD.02,home,1020,auto,2,1,5,2,...,490880,172.692939,170.966010,0.99,449640.7819,4445410.535,UTAH,Springville,449640.7819,4445410.535
3,M11010EU.01.01,1,M11010EU.01,home,1145,auto,1,0,5,1,...,490438,108.729323,108.729323,1.00,434267.3247,4478105.922,UTAH,Alpine,433410.7035,4477969.818
4,M11010EU.01.04,4,M11010EU.01,drop-pickup,1835,auto,1,0,5,1,...,490445,339.478377,339.478377,1.00,433410.7035,4477969.818,UTAH,Alpine,433410.7035,4477969.818

In [ ]:

# # Define the coordinate reference system (CRS) using EPSG code
# crs = "EPSG:3566"  # NAD83 / Utah Central (ftUS) - EPSG:3566

# # Create a GeoDataFrame from the DataFrame with the defined CRS
# geometry = [Point(xy) for xy in zip(df['X'], df['Y'])]
# gdf = gpd.GeoDataFrame(df, geometry=geometry, crs=crs)

# # Define the output shapefile name
# output_shapefile = "originTAZ.shp"

# # Save the GeoDataFrame as a shapefile
# gdf[['hptripid', 'tripID', 'hhmemberid','o_purp_t','depart_hhm','mode_t','hhsize',
#     'workers','hh_income','num_veh','age','gender','emp_text','education','licensed',
#     'limitmobil','h_CoTAZID_v30','o_CoTAZID_v30','o_fixed','d_fixed','d_purp_t',
#     'arrive_hhm','d_CoTAZID_v30','ACRES','DEVACRES','DEVPBLEPCT','CO_NAME','CITY_NAME']].to_file(output_shapefile, driver='ESRI Shapefile')

In [ ]:
od_df['mode_t'].unique()

array(['auto', 'other', 'walk', 'transit', 'bike'], dtype=object)

In [4]:
data=pd.read_csv('sample_serTbig.csv')
data

,stop location,mode_choice,o_lat,o_long,d_lat,d_long,Shrt_T,dep_time,arr_time,total_F,total_T,Serv_Tbig,Serv_Tsm
0,150 e 442n logan,car,41.740468,-111.830606,41.755502,-111.834295,4,10:38,22:36,718,713,358.5,356.5
1,750 north main logan,transit,41.745694,-111.834507,41.760980,-111.828988,4,16:11,12:55,0,0,2.0,0.0
2,1080 north main logan,walking,41.752044,-111.834473,41.761320,-111.831874,15,07:51,15:15,444,439,227.0,219.5
3,1300 north main logan,carpool,41.755502,-111.834295,41.756219,-111.834518,1,16:17,22:28,371,366,183.5,183.0